<h1>Our Mission</h1>

<p>As part of Hesburgh Libraries, we help to connect people to knowledge online. In the broad view, the WSE unit is responsible for the Libraries’ web presence. We work in collaboration with other library units as well as other campus units to make scholarly information accessible online. </p>
