<h1>Partnering With Us</h1>

<h2>Requesting a project    </h2>

<p>You can make a project request by completing and submitting the <a href="https://docs.google.com/a/nd.edu/forms/d/1NntWhrZYnOHMvwbzgFDBzY-Q3KS72PeG53hHMgouljs/viewform">Project Request</a> form. If it is a project that would be appropriate for the Web and Software Engineering unit, it will be routed to us for review.     </p>

<ul class="large-block-grid-2">
	<li><h3>Consultation</h3><p>If a project request is routed to the WSE unit, we will contact you to set up a consultation time to discuss the project. The purpose of the consultation is to get more detail about the project and to determine if we will be able to meet the requester’s needs. If the project goes forward, this is the beginning of a partnership. We value clear communication throughout the analysis, development, and implementation processes.</p> </li>
	<li><h3>Using the Project Request form</h3> <p> Using information from the consultation(s), we begin a project with a clear document of stakeholders, scope, objectives, and measures for success. We will share the document with you to make sure that we agree on the terms of the project.</p></li>
</ul>

<!--<h2>Defining roles</h2>
<ul><li>Stakeholder</li>
<li>Project Owner</li>
<li>Technical Lead</li>
<li>Project Lead</li></ul>-->


<h2>Communications commitment</h2>
<ul class="large-block-grid-3">
	<li><h3>Project Profile</h3>
	<p>This document describes the project in detail. It is the basis for agreement among the partners to the project and serves as a source for determining work tasks for the developers.</p>
	</li>
	<li><h3>Scrums</h3>
		<p>All members of the Web and Software Engineering unit participate in a brief daily “scrum”, i.e., a meeting to recount recent and planned work. As a project partner, you may be invited to join us for some scrums to ensure that communication flows effectively.</p>
	</li>
	<li><h3>Sprint Reviews</h3>
	<p>At the end of a sprint (generally 2 weeks), unit members meet to review and assess the work that has been done. Project partners may be invited to see a demonstration of the latest feature deliverables and to offer feedback on the development.</p>
	</li>
</ul>

