<h1>Who We Are</h1>

<p>We're the <%= t(:unit_name) %> unit in the IT Program and part of the DARIT Division.</p>

<h3>Our positions</h3>
<ul><li>Rob - Mgr</li>
<li>Jaron - Software Engineer</li>
<li>Jon - Software Engineer</li>
<li>Robin - User Experience Designer</li>
<li>Andy - Graphic Designer</li>
<li>Dan - Software Engineer</li>
<li>Laurie - Sr. Web Systems Consultant</li></ul>
